body {
	background-image: url('images/friends.jpg');
}

.jumbotron {
	background-color: lightcyan;

}
/* making the panels opaque  */
.panel {
	opacity: 0.8

}

.panel-default {

	padding: 15px;
}

.selectBox {
	width: 175px;
}

body .modal {
	width: 500px;
	margin-left: 250px;
	padding: 20px;
}

body .modal-content {
	text-align: center;
	padding: 10px;
}