<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Friend Finder Survey</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- App Styles & JS -->
    <link rel="stylesheet" href="./style.css">


</head>
<body>

  <div id="main-page" class="container">
      <div class="jumbotron">
          <div class="row">
                <div class="col-md-8">

                    <h1>Friend Finder</h1>
                    <h3>You are one step closer! Take the Survey!</h3>
                </div>
                <div class ="col-md-4">
                    <img src="images/friends_logo.jpeg" alt="Friend Finder" align="right">
                </div>
          </div>
          <hr>
          <div class="row">
              <div class="col-md-12">
                   <div class="text-center">
                        <form method="link" action="/">
                        <button type="submit" class="btn btn-success btn-large" id="home">Home</button>
                        </form>
                  </div>
             </div>
          </div>
      </div>
  </div>

 <div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><strong>ABOUT YOU</strong></h3>
            </div>
            <div class="panel-body">
                <form method="POST" role="form" data-toggle="validator" id="survey">

                      <div class="row form-group">
                          <label for="name">Name(required)</label>
                          <input type="text" class="form-control" id="name" data-minlength= "1" required>
                          <div class="help-block with-errors"></div>
                      </div>

                      <div class="row form-group">
                          <label for="photoURL">Link to Photo Image(required)</label>
                          <input type="text" class="form-control" id="photoURL" data-minlength= "15" required>
                          <div class="help-block with-errors"></div>
                      </div>
                  <div id="answers">
                      <div class="row form-group">
                      <div>
                          <h4><strong>Question 1</strong></h4>          
                          <label for="q1">Do you consider yourself a planner?</label>

                          <select class="form-control selectBox chosen-select" id="q1" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                     </div>

                  <div class=" row form-group">
                      <div> 
                          <h4><strong>Question 2</strong></h4>         
                          <label for="q2">Do you like to read?</label>

                          <select class="form-control selectBox chosen-select" id="q2" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>                  
                  </div>

                  <div class=" row form-group">
                      <div> 
                          <h4><strong>Question 3</strong></h4>          
                          <label for="q3">Do you believe in God?</label>
                          <select class="form-control selectBox chosen-select" id="q3" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>

                      <div class="help-block with-errors"></div>
                  </div>

                  <div class=" row form-group">
                      <div>
                          <h4><strong>Question 4</strong></h4>           
                          <label for="q4">Do you like movies?</label>
                          <select class="form-control selectBox chosen-select" id="q4" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                  </div>

                  <div class=" row form-group">
                      <div>
                          <h4><strong>Question 5</strong></h4>           
                          <label for="q5">Do you you exercise regularly?</label>
                          <select class="form-control selectBox chosen-select" id="q5" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                 </div>

                 <div class=" row form-group">
                      <div>          
                          <h4><strong>Question 6</strong></h4> 
                          <label for="q6">Do you enjoy going out to eat?</label>
                          <select class="form-control selectBox chosen-select" id="q6" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                  </div>

                 <div class=" row form-group">
                      <div>          
                          <h4><strong>Question 7</strong></h4> 
                          <label for="q7">Do you like to dance?</label>
                          <select class="form-control selectBox chosen-select" id="q7" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                  </div>

                 <div class=" row form-group">
                      <div>          
                          <h4><strong>Question 8</strong></h4> 
                          <label for="q8">Do you like to travel?</label>
                          <select class="form-control selectBox chosen-select" id="q8" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                  </div>
                
                 <div class=" row form-group">
                      <div>          
                          <h4><strong>Question 9</strong></h4> 
                          <label for="q9">Are you open to different cultures?</label>
                          <select class="form-control selectBox chosen-select" id="q9" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                  </div>
 
                 <div class=" row form-group">
                      <div>          
                          <h4><strong>Question 10</strong></h4> 
                          <label for="q10">Do you speak other languages?</label>
                          <select class="form-control selectBox chosen-select" id="q10" required>
                                <option value>Make a Selection</option>
                                <option value="1">Strongly Disagree</option>
                                <option value="2">Disagree</option>
                                <option value="3">Neutral</option>
                                <option value="4">Agree</option>
                                <option value="5">Strongly Agree</option>
                          </select>
                      </div>
                      <div class="help-block with-errors"></div>
                  </div>


                </div>
            </form>

            <br>

            <div class="text-left">
                <button type="submit" class="btn btn-primary btn-block" id="submitAnswers"> Submit Answers</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- footer  -->

  <div class="container">
      <a href="/api/friends">API Friends List</a> | <a href="https://github.com/Manderson55/FriendFinder" target="_blank">GitHub Repo</a>
  </div>


  <!-- Modal Dialog Displaying Closest Friend Match -->

  <script type="text/javascript">


    $("#submitAnswers").on("click", function(event){

        event.preventDefault();

        console.log("inside the submit answers on click");
        validateForm();
        
        if (validateForm() == true) {           

            var newFriend = {
                name:$("#name").val().trim(),
                photoURL:$("#photoURL").val().trim(),
                answers:[$("#q1").val(),
                         $("#q2").val(),
                         $("#q3").val(),
                         $("#q4").val(), 
                         $("#q5").val(), 
                         $("#q6").val() 
                        ]
            }; 
            console.log(newFriend);
            //setting a variable to determine where is the user at
            var currentURL = window.location.origin + "/api/friends";
            console.log(currentURL);


            $.post(currentURL, newFriend, function(data, status){
              console.log(data, status);
              var modal = 
              "<div id=\"modal1\" class=\"modal bd-example-modal-sm\"> " +
                "<div class=\"modal-content\">" +
                 "<h4>Closest Friend Match</h4>" +
                 "<h3>" + data.matchName + "</h3>" +
                 "<div class=\"divider\"></div>" +
                 "<h5 id=\"userMatch\"></h5>" +
                 "<img id=\"my-img\" width=\"200\" src=\"" + data.matchPhotoURL + "\" >" +
 //               "<img id=\"userMat chImage\" class=\"materialboxed\" width=\"650\" src=\"\">" +
               "</div>"

              $("#main-page").append(modal);
              $('.modal').modal({
                  dismissible: false, // Modal can be dismissed by clicking outside of the modal
                  opacity: .5, // Opacity of modal background
                  inDuration: 300, // Transition in duration
                  outDuration: 200, // Transition out duration
                  startingTop: '4%', // Starting top style attribute
                  endingTop: '10%' // Ending top style attribute
              });

            }); 

            clearForm();

            // find the best match

            }
        else{
            alert("Please fill out all fields");
        }
    }); //end on click function


    function validateForm() {
          var isValid = true;
              $('.form-control').each(function() {
                    if ($(this).val() === "")
                          isValid = false;
              });
     
               $('.chosen-select').each(function() {
                    if ($(this).val() === "")
                         isValid = false
              })
         return isValid;
    }

    function clearForm(){

         $("#name").val("");
         $("#photoURL").val("");
         $("#q1").val(""); 
         $("#q2").val("");
         $("#q3").val(""); 
         $("#q4").val(""); 
         $("#q5").val(""); 
         $("#q6").val("");
         $("#q7").val("");
         $("#q8").val("");
         $("#q9").val("");
         $("#q10").val("");
    }

</script>

</body>

</html>
